<hr>
<h3 class="m-b-md">Caracterize seu produto</h3>
<div class="custom-component form-inside-title row m-b-md">
<div class="col-md-12">

    <p>Entre todas as possíveis características de soluções educacionais abaixo selecione as que identificam seu produto.</p>

    <div ng-repeat="filtro in filtros | orderBy:'filtros.id'" class="m-b-md">
        <label>{{ filtro.nome }}</label>
        <div class="clearfix"></div>

        <span ng-repeat="caracteristica in filtro.caracteristicas | orderBy:'filtro.caracteristicas.id'" class="checkbox-inline-span">
            <label for="caracteristica_{{ caracteristica.id }}" class="checkbox-inline">
                <input type="checkbox" name="caracteristica_{{ caracteristica.id }}" id="caracteristica_{{ caracteristica.id }}" ng-value="{{ caracteristica.id }}" /> {{ caracteristica.nome }}
            </label>
        </span>
    </div>
</div>
