<div class="custom-component lista-classifica-produtos row m-b-md">
<div class="col-md-6">
	<div class="form-group">
		<label>Tag<em class="required">*</em></label>
		<input type="text" class="form-control validateStep3Classificacao" ng-model="getModel('produto.tags.nome')[0]" placeholder="Insira uma palavra-chave relevante à classificação do produto." name="produto.tags.nome" id="produto.tags.nome" maxlength="40" validator="novalidate" />
	</div>
	<div class="form-group">
		<label>Explique de forma suscinta como o produto atua nessa classificação<em class="required">*</em></label>
		<textarea name="produto.tags.descricao" class="form-control validateStep3Classificacao" id="produto.tags.descricao" ng-model="getModel('produto.tags.descricao')[0]" placeholder="Insira a descrição aqui"></textarea>
	</div>
	<div class="clearfix text-center">
		<button ng-click="cadastrarClassificacao()" type="button" class="btn btn-success">Adicionar</button>
	</div>
</div>
	<div class="col-md-6">
		<table class="table table-striped table-hover">
		    <thead>
		    	<tr>
					<th>Tag</th>
					<th>Descrição</th>
					<th align="center" width="50px">Excluir</th>
				</tr>
			</thead>
		    <tbody>
		    	<tr ng-repeat="(key,item) in listaClassificacoes">
					<td>{{ item.nome }}</td>
					<td>{{ item.descricao }}</td>
					<td align="right"><button class="btn btn-danger btn-sm" ng-click="removeClassificacao(item)"><i class="fa fa-times"></i></button></td>
				</tr>
			</tbody>
		</table>
		<div class="alert alert-info" role="alert" ng-if="listaClassificacoes.length<1">Cadastre uma ou mais classificações preenchendo o formulário ao lado e clicando em "Adicionar".</div>
	</div>
</div>
