<hr>
<h3 class="m-b-md">Informe seus principais clientes</h3>
<div class="custom-component lista-principais-clientes row m-b-md">
	<div class="col-md-6">
		<div class="form-group">
			<label>Nome<em class="required">*</em></label>
			<input type="text" class="form-control step3ValidateClientes" ng-model="getModel('produto.principaisClientes.nome')[0]" placeholder="Nome do cliente" name="produto.principaisClientes.nome" id="produto.principaisClientes.nome" maxlength="40" validator="novalidate" />
		</div>
		<div class="form-group">
			<label>Desde<em class="required">*</em></label>
			<input type="text" class="form-control step3ValidateClientes date" ng-model="getModel('produto.principaisClientes.desde')[0]" placeholder="DD/MM/YYYY" name="produto.principaisClientes.desde" id="produto.principaisClientes.desde" maxlength="20" validator="novalidate" />
		</div>
		<div class="form-group">
			<label>Volume de vendas<em class="required">*</em></label>
			<input type="text" class="form-control step3ValidateClientes money2" ng-model="getModel('produto.principaisClientes.volume')[0]" placeholder="Qual o volume de vendas?" name="produto.principaisClientes.volume" id="produto.principaisClientes.volume" maxlength="40" validator="novalidate" />
		</div>
		<div class="clearfix text-center">
			<button ng-click="cadastrarClienteProduto()" type="button" class="btn btn-success">Adicionar</button>
		</div>
	</div>
	<div class="col-md-6">
		<table class="table table-striped table-hover">
		    <thead>
		    	<tr>
					<th>Nome</th>
					<th>Desde</th>
					<th>Volume</th>
					<th align="center" width="50px">Excluir</th>
				</tr>
			</thead>
		    <tbody>
		    	<tr ng-repeat="(key,item) in clientesProduto">
					<td>{{ item.nome }}</td>
					<td>{{ item.desde }}</td>
					<td>{{ item.volume }}</td>
					<td align="right"><button class="btn btn-danger btn-sm" ng-click="removeClienteProduto(item)"><i class="fa fa-times"></i></button></td>
				</tr>
			</tbody>
		</table>
		<div class="alert alert-info" role="alert" ng-if="clientesProduto.length<1">Cadastre um ou mais clientes preenchendo o formulário ao lado e clicando em "Adicionar".</div>
	</div>
</div>
