<hr>

<h3>Adicione estudo de caso</h3>
<p>Possui algum estudo de caso ou exemplo de implementação que queira compartilhar?</p>

<div class="clearfix"></div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
        <label>Nome<em class="required">*</em></label>
        <input type="text" class="form-control" ng-model="getModel('produto.estudoDeCaso.nome')[0]" placeholder="Nome do estudo de caso" name="produto.estudoDeCaso.nome" id="produto.estudoDeCaso.nome" maxlength="40" validator="required" />
    </div>
    <div class="form-group">
        <label>Arquivo (Apenas PDF)<em class="required">*</em></label>
      <input type="file" nv-file-select uploader="documentUploader" multiple /><br/>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-3" ng-repeat="item in documentUploader.queue">
    <div class="thumbnail">
      <button type="button" class="btn btn-danger btn-xs" ng-click="onRemove(item, documentosEstudoDeCaso)">
        <span class="fa fa-trash"></span> Remove
      </button>

      <div class="canvas-container" ng-show="documentUploader.isHTML5" ng-thumb="{ file: item._file, height: 150 }"></div>
      <div class="caption">
        <p ng-bind="item.file.name"></p>
      </div>
    </div>
  </div>
</div>

