<div class="custom-component lista-empreendedores">
	<table class="table table-striped table-hover">
	    <thead>
	    	<tr>
				<th>Nome</th>
				<th>E-mail</th>
				<th>Cargo</th>
				<th align="center" width="50px">Excluir</th>
			</tr>
		</thead>
	    <tbody>
	    	<tr ng-repeat="(key,item) in listaEmpreendedores">
				<td>{{ item.nome }} {{ item.sobrenome }}</td>
				<td>{{ item.email }}</td>
				<td>{{ item.cargoAtual }}</td>
				<td align="right"><button class="btn btn-danger btn-sm" ng-click="removeItemFromList(item)"><i class="fa fa-times"></i></button></td>
			</tr>
		</tbody>
	</table>
	<div class="alert alert-info listaEmpreendedores" role="alert" ng-if="listaEmpreendedores.length<1">Cadastre um ou mais empreendedores preenchendo o formulário abaixo e clicando em "Adicionar" no final.</div>
    <div class="clearfix text-center" ng-show="!entity['empreendedor']['toggleListInsert'][0]">
        <button ng-click="entity['empreendedor']['toggleListInsert'][0]=true" type="button" class="btn btn-success">Adicionar outro empreendedor</button>
    </div>

</div>
