<hr>
<h3 class="m-b-md">Informe seus principais clientes</h3>
<fieldset>
    <div class="custom-component lista-principais-clientes row m-b-md">
        <div class="col-md-6 ">
            <div class="form-group">
                <label>Nome<em class="required">*</em></label>
                <input type="text" class="form-control validateStep1Clientes" ng-model="getModel('empresa.principaisClientes.nome')[0]" placeholder="Nome do cliente" name="empresa.principaisClientes.nome" id="empresa.principaisClientes.nome" maxlength="40"  />
            </div>
            <div class="form-group">
                <label>Desde<em class="required">*</em></label>
                <input type="text" class="form-control validateStep1Clientes date" ng-model="getModel('empresa.principaisClientes.desde')[0]" placeholder="DD/MM/YYYY" name="empresa.principaisClientes.desde" id="empresa.principaisClientes.desde" maxlength="20" />
            </div>
            <div class="form-group">
                <label>Volume de vendas<em class="required">*</em></label>
                <input type="text" class="form-control validateStep1Clientes money2" ng-model="getModel('empresa.principaisClientes.volume')[0]" placeholder="Qual o volume de vendas?" name="empresa.principaisClientes.volume" id="empresa.principaisClientes.volume" maxlength="40"  />
            </div>
            <div class="clearfix text-center">
                <button ng-click="cadastrarCliente()" type="button" class="btn btn-success">Adicionar</button>
            </div>
        </div>
        <div class="col-md-6">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Desde</th>
                        <th>Volume</th>
                        <th align="center" width="50px">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,item) in listaClientes">
                        <td>{{ item.nome }}</td>
                        <td>{{ item.desde }}</td>
                        <td>{{ item.volume }}</td>
                        <td align="right"><button class="btn btn-danger btn-sm" ng-click="removeCliente(item)"><i class="fa fa-times"></i></button></td>
                    </tr>
                </tbody>
            </table>
            <div class="alert alert-info listaClientes" role="alert" ng-if="listaClientes.length<1">Cadastre um ou mais clientes preenchendo o formulário ao lado e clicando em "Adicionar".</div>
        </div>
    </div>
</fieldset>
