<hr>

<h3>Adicione imagens do seu produto</h3>
<p>Você pode enviar até 8 imagens do seu produto para que ele apareça de forma mais clara nos resultados de buscas.</p>

<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12">
      <input type="file" nv-file-select uploader="imageUploader" multiple /><br/>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-3" ng-repeat="item in imageUploader.queue">
    <div class="thumbnail">
      <button type="button" class="btn btn-danger btn-xs" ng-click="onRemove(item, imagensProduto)">
        <span class="fa fa-trash"></span> Excluir
      </button>

      <div class="canvas-container" ng-show="documentUploader.isHTML5" ng-thumb="{ file: item._file, height: 150 }"></div>
      <div class="caption">
        <p ng-bind="item.file.name"></p>
      </div>
    </div>
  </div>
</div>
