<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EDUTEC - Formulário de cadastro</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/validation.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="css/style.css" rel="stylesheet">
</head>
<body ng-app="ciebform" ng-controller="FormularioController" ng-init="init()">

<header>
    <div class="container">
        <ul class="step-nav">
            <span></span>
            <li ng-class="currentStep==1 ? 'active' : ''" ng-click="stepnav(1)"><a href="#">1</a><p>Empresa</p></li>
            <li ng-class="currentStep==2 ? 'active' : ''" ng-click="stepnav(2)"><a href="#">2</a><p>Empreendedor</p></li>
            <li ng-class="currentStep==3 ? 'active' : ''" ng-click="stepnav(3)"><a href="#">3</a><p>Produto</p></li>
        </ul>
    </div>
</header>

<section id="form" class="container form-step">

        <form novalidate ng-repeat="(key,set) in formItems" on-last-repeat ng-if="currentStep==set.fieldset" name="form_{{set.fieldset}}" class="form-validation">

            <h1>{{set.title}}</h1>

            <div class="row">
                <div class="{{ item.gridstyle }}" ng-repeat="item in set.form" ng-if="item.ngif ? toggleView(item.ngif) : true">
                    <div class="form-group {{ item.class }}">
                        <label for="{{ item.name }}" ng-hide="item.hidelabel">{{ item.title }}<em class="required" ng-hide="!item.required">*</em></label>
                        <div class="clearfix"></div>
                        <div ng-switch on="item.type.view">
                            <div ng-switch-when="radio">
                                <span ng-repeat="radio in item.type.options" class="m-r">
                                    <label class="radio-inline">
                                        <input type="radio" name="{{ item.name }}" id="{{ item.name }}_{{ radio.value }}" ng-value="radio.value" ng-model="getModel(item.name)[0]" class="{{ item.validation }}" /> {{ radio.title }}
                                    </label>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                            <div ng-switch-when="checkbox">
                                <span ng-repeat="check in item.type.options" class="m-r">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="{{ item.name }}" id="{{ item.name }}_{{ check.value }}" ng-model="getModel(check.value)[0]" class="{{ item.validation }}" /> {{ check.title }}
                                    </label>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                            <div ng-switch-when="select">
                                    <select name="{{ item.name }}" class="form-control  {{ item.validation }}" id="{{ item.name }}" ng-model="getModel(item.name)[0]" ng-options="item.title for item in item.type.options track by item.value" placeholder="{{ item.placeholder }}">
                                        <option value="">Selecione uma opção</option>
                                    </select>
                                <div class="clearfix"></div>
                            </div>
                            <div ng-switch-when="textarea">
                                <textarea name="{{ item.name }}" class="form-control  {{ item.validation }}" id="{{ item.name }}" ng-model="getModel(item.name)[0]" placeholder="{{ item.placeholder }}"></textarea>
                                <div class="clearfix"></div>
                            </div>
                            <div ng-switch-when="custom">
                                <ng-include src="'custom/'+item.type.component+'.html'"></ng-include>
                                <div class="clearfix"></div>
                            </div>
                            <div ng-switch-when="divider">
                                <div class="clearfix"></div>
                                <hr>
                                <div class="clearfix"></div>
                            </div>
                            <div ng-switch-when="button">
                                <div class="clearfix"></div>
                                <button ng-click="formButtonClick(item.click)" type="button" class="btn {{item.type.class}}">{{item.title}}</button>
                                <div class="clearfix"></div>
                            </div>
                            <div ng-switch-when="title">
                                <div class="clearfix"></div>
                                <h3 ng-if="item.title!=''">{{ item.title }}</h3>
                                <div class="clearfix"></div>
                                <p ng-if="item.subtitle!=''">{{ item.subtitle }}</p>
                                <div class="clearfix"></div>
                            </div>
                            <div ng-switch-default>
                                <input type="{{ item.type.view }}" class="form-control {{ item.validation }}" ng-model="getModel(item.name)[0]" placeholder="{{ item.placeholder }}" value="" name="{{ item.name }}" id="{{ item.name }}" maxlength="{{ item.maxlength }}" ng-change="{{ item.ngchange }}" ui-mask="{{ item.mask }}" ui-mask-placeholder ui-mask-placeholder-char=" " />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-footer">
                <button type="button" class="btn btn-default btn-white pull-left" ng-if="currentStep>1" ng-click="prevStep()"><i class="fa fa-arrow-left m-r-xs"></i>Anterior</button>
                <button type="button" class="btn btn-default btn-white pull-right" ng-if="currentStep<3" ng-click="nextStep()">Próximo<i class="fa fa-arrow-right m-l-xs"></i></button>
                <button type="button" ng-click="formPost(set.fieldset)" class="btn btn-default btn-white pull-right" ng-if="currentStep>2"><i class="fa fa-check-square m-r-xs"></i>Concluir</button>
            </div>
        </form>

        <div class="jumbotron m-t-lg" ng-show="currentStep==4">
          <h2>Sucesso!</h2>
          <p>Seu cadastro foi concluído.<br>Você receberá um e-mail com todos os detalhes e os próximos passos para validar o seu produto.</p>
        </div>

        <div class="jumbotron m-t-lg" ng-show="currentStep==5">
          <h2>Ops!</h2>
          <p>Algo deu errado.<br>Estamos com algum problema para enviar seu cadastro, tente novamente dentro de alguns instantes.</p>
        </div>

</section>

<small class="center-block text-center">v0.3</small>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-logger/dist/angular-logger.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/angular-touch/angular-touch.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
<script src="bower_components/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
<script src="js/jquery.validationEngine.js"></script>
<script src="js/validation-rule.js"></script>
<script src="js/app.js"></script>
<script src="js/constants.js"></script>
<script src="js/controllers/FormularioController.js"></script>
</body>
</html>
